html{
    background-color: #D9D9D9;
}

div {
    outline:1px dotted black;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    display:flex;
    justify-content:center;

    
    height:60vh;
    width:40vh;
}
.sheet{
    outline: 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    color:grey;
    width:70vh;
    height:70vh;
    box-shadow:1px 1px 1px 1px;
}



.top-calculator{

    display:flex;
    flex-flow:row;
    height:20vh;
    width:40vh;
    align-items: center;
    justify-content: center;
}

.display{
    display:flex;
    flex-flow:column;
    align-items: flex-end;
    width:35vh;
    height:10vh;
}



.calculator-buttons{
    display:flex;
    flex-flow:column;
}


.num-pad{
    display:grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(4,25%);
    width:40vh;
    height:35vh;
}


.num{
    border-radius:30px;
    outline:1px solid black;
    box-shadow:1px 1px 1px 1px;
}


